.font1 {
    font-family: 'Gugi', cursive;
}

.font2 {
    font-family: 'Kirang Haerang', cursive;
}


img {
    width: 70%;
    height: 40%;
}

.card {
  box-shadow: 10px 10px 5px 0px rgba(238, 238, 238, 1);
  margin: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
  
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  position: sticky;
  top:0;
}

.footer {
  padding: 10px 16px;
  position: sticky;
  background: #555;
  color: #f1f1f1;
  margin-bottom: 0;
  height: 50px;
}

div#pageWrap {
 display: flex;
 justify-content: center;
 margin-left: 10%;
 margin-bottom: 50px;
}

@media screen and (max-width: 736px) {

img {
  width: 70%;
  height: 40%;
}

}